{% extends "_global/index.html" %} {% block main %}
<div class="row">
    <form action="{{ BASE }}cart" method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3" id="card" onsubmit="return validateCartForm();">
        <div class="card">
            <div class="card-header">
                Korpa
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="input_email" class="cols-sm-2 control-label">Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="input_email" id="input_email"  required placeholder="Unesite svoj email" >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_forename" class="cols-sm-2 control-label">Ime</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="input_forename" id="input_forename"  required placeholder="Unesite svoje ime" >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_surename" class="cols-sm-2 control-label">Prezime</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="input_surename" id="input_surename"  required placeholder="Unesite svoje prezime" >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_address" class="cols-sm-2 control-label">Adresa</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-address-book-o address" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="input_address" id="input_address"  required placeholder="Unesite svoju adresu" >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_phone" class="cols-sm-2 control-label">Telefon</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-mobile phone" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="input_phone" id="input_phone"  required placeholder="Unesite svoj broj telefona">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit">Zavrsi kupovinu</button>
                <button class="btn btn-warning" type="button">Odustani</button>
            </div>
        </div>
        <div class="alert alert-warning d-none" id="error-message"></div>
    </form>
</div>
 {% endblock %}