{% extends "_global/index.html" %} {% block main %}
<div class="card" id="card">
    <div class="card-header btn-group">
        <a href="{{ BASE }}user/cart" class="btn btn-outline-secondary"><i class="fa fa-chevron-left" aria-hidden="true"></i> Nazad</a>
    </div>
    <div class="card-body">
        <h1>Korpa</h1>
        Poruceni delovi: 
        {% for cart in cartPart %}
        <div class="card">
            <div class="card-body">
                <p class="mt-3">{{cart.name}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} {% block naslov %} Korpa {% endblock %}