{% extends "_global/index.html" %} {% block main %}
    {% for part in parts %}
    <div class="part row mt-3">
        <div class="col-12 col-md-3">
            <a href="{{ BASE }}part/{{ part.part_id }}">
                <img src="{{ BASE }}assets/img/{{ part.image_path }}" class="image" alt="Slika - {{ part.part_id }}">
            </a>
        </div>
        <div class="col-12 col-md-9">
            <a href="{{ BASE }}part/{{ part.part_id }}" class="part-title">
                {{ part.name|escape }}
            </a>
            <div class="row">
                <span class="col-12 col-md-4"> {{ part.price|escape }} &euro;</span>
            </div>
        </div>
    </div> 
    {% endfor %}

{% endblock %} {% block naslov %} Rezultati pretrage {% endblock %}
