{% extends "_global/index.html" %} {% block main %}
{% for part in parts %}
<div class="row">
    <div class="col-12 col-md-12 part-box">
        <img src="{{ BASE }}assets/img/{{ part.image_path }}" class="image" alt="Slika - {{ part.part_id }}">
    </div>
</div>
<div class="row part-body" id="field">
    <div class="col-12 col-md-12" >
        <p class="lead">Proizvođač: {{ part.manufacturer|escape }}</p>
        <p class="lead">Model: {{ part.model|escape }}</p>
        <p class="lead">Ime: {{ part.name|escape }}</p>
        <p class="lead">Opis: {{ part.description|escape }}</p>
        <p class="lead">Na stanju: {% if part.is_in_stock %}Da {% else %}Ne{% endif %}</p>
        <p class="lead">Garancija: {% if part.is_warranty_given %}Da {% else %}Ne{% endif %}</p>
        <p class="lead">Garancija u mesecima: {{ part.warranty_month }}</p>
        <p class="lead">Cena: <span> {{ part.price|escape }} &euro;</span></p>
        <a href="#" class="btn btn-warning" onclick="addToCart({{ part.part_id }})">Dodaj u kropu <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
    </div>
</div>
{% endfor %}
{% endblock %} {% block naslov %} {{ part.name|escape }} {% endblock %}
