{% extends "_global/index.html" %} {% block main %}
<div class="card" id="card">
    <div class="card-header btn-group">
        <p class="ml-3 dashboard">Admin panel</p>
    </div>
    <div class="card-body">
        <a class="list-group-item list-group-item-action" href="{{ BASE }}user/categories">Kategorije</a>
        <a class="list-group-item list-group-item-action" href="{{ BASE }}user/parts">Delovi</a>
        <a class="list-group-item list-group-item-action" href="{{ BASE }}user/cars">Automobili</a>
        <a class="list-group-item list-group-item-action" href="{{ BASE }}user/manufacturers">Proizvodjaci</a>
        <a class="list-group-item list-group-item-action" href="{{ BASE }}user/cart">Spisak porudzbina</a>
    </div>
</div>
{% endblock %}