{% extends "_global/index.html" %} {% block main %}
<div class="row mt-3">
    <a href="{{ BASE }}user/parts" class="btn btn-outline-secondary">Lista delova</a>
</div>
<div class="alert alert-danger" role="alert">
    <p class="p-3">{{ message|escape }}</p>
</div>
{% endblock %}