{% extends "_global/index.html" %} {% block main %}
<div class="row">
    <form method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3" id="card" enctype="multipart/form-data" onsubmit="return validatePartForm();">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <p class="mb-0 ml-3 pt-2">Dodavanje delova</p>
                </div>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <a class="btn btn-outline-primary" href="{{ BASE }}user/parts"><i class="fa fa-list" aria-hidden="true"></i> Lista</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name">Ime</label>
                            <input type="text" id="name" class="form-control" name="name" required placeholder="Unesite ime">
                        </div>
                        <div class="form-group">
                            <label for="description">Opis</label>
                            <input type="text" id="description" class="form-control" name="description" required placeholder="Opis...">
                        </div>
                        <div class="form-group">
                            <label for="price">Cena</label>
                            <input type="number" id="price" class="form-control" name="price" required min="0.01" step="0.01" placeholder="Unesite cenu">
                        </div>
                        <div class="form-group">
                            <label for="categoryId">Kategorija</label>
                            <select name="category_id" id="categoryId" class="form-control" required>
                                <option value="" disabled selected>Izaberite vašu kategoriju</option>
                                {% for category in categories %}
                                    <option value="{{ category.category_id }}">{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-check form-group">
                            <input type="checkbox" id="is_in_stock" name="is_in_stock"
                                    class="form-check-input" value="1" pattern="^[01]$">
                            <label for="is_in_stock" class="form-check-label">Na stanju</label>    
                        </div>
                        <div class="form-check form-group">
                            <input type="checkbox" id="is_warranty_given" name="is_warranty_given"
                                    class="form-check-input" value="1" pattern="^[01]$">
                            <label for="is_warranty_given" class="form-check-label">Osiguranje</label>
                            
                        </div>
                        <div class="form-group" id="warranty">
                            <label for="warranty_month">Osiguranje (u mesecima)</label>
                            <input type="number" id="warranty_month" value="0" class="form-control" name="warranty_month" placeholder="Unesite garanciju">
                        </div>
                        <div class="form-group">
                            <label for="carId">Auto</label>
                            <select name="car_id" id="carId" class="form-control" required>
                                <option value="" disabled selected>Izaberite marku automobila</option>
                                {% for car in cars %}
                                    <option value="{{ car.car_id }}">{{car.model}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name"> Prilog:</label>
                            <input type="file" id="InputFile" class="form-control" name="image_path" required accept="image/jpeg, image/png">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-block" type="submit">Dodaj</button>
                    </div>
                </div>
            </div>
        </div>   
        <div class="alert alert-warning d-none" id="error-message"></div>
    </form>
</div>
{% endblock %}