{% extends "_global/index.html" %} {% block main %}
<div class="row">
    <form method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3" id="card" onsubmit="return validateCarForm();">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <p class="mb-0 ml-3 pt-2">Izmena automobila</p>
                </div>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        <div class="row btn-group">
                            <a class="btn btn-outline-primary" href="{{ BASE }}user/cars"><i class="fa fa-list" aria-hidden="true"></i> Lista</a>
                            <a class="btn btn-outline-primary" href="{{ BASE }}user/cars/add">Dodaj <i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="model">Model</label>
                            <input type="text" id="model" class="form-control" name="model" placeholder="Unesite naziv modela" required value="{{ car.model|escape }}">
                        </div>
                        <div class="form-group">
                            <label for="manufacturerId">Izaberite proizvođača</label>
                            <select name="manufacturer_id" id="manufacturerId" class="form-control" required>
                                <option value="" disabled selected>Izaberite proizvođača</option>
                                {% for manufacturer in manufacturers %}
                                <option value="{{ manufacturer.manufacturer_id }}" {% if manufacturer.manufacturer_id == car.manufacturer_id %} selected="selected" {% endif %}>{{manufacturer.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-block" type="submit">Izmeni</button>
                    </div>
                </div>
            </div>
        </div> 
        <div class="alert alert-warning d-none" id="error-message"></div>
    </form>
</div>
{% endblock %}