{% extends "_global/index.html" %} {% block main %} {% spaceless %}
<div class="col-md-12 mt-2">
    <h1>O nama</h1>
</div>
<div class="container">
    <div class="container-fluid" >
        <div class="row" >
            <div class="col-md-12">
                <blockquote>
                    <p><strong>Kod nas možete kupiti auto delove potrebne za održavanje Va&scaron;eg putničkog vozila.&nbsp;</strong></p>
                    
                    <p><strong>Na&scaron;a misija je da klijentima obezbedimo bezbednu vožnju uz kontrolisane tro&scaron;kove održavanja i minimum uloženog truda i vremena.</strong></p>
                    
                    <p><em>Na&scaron;a internet prodavnica je specijalizovana za prodaju auto delova za sve tipove evropskih i azijskih vozila, kao i brz uvoz auto delova iz magacina &scaron;irom Evrope.&nbsp;</em></p>
                    
                    <p><em>Pretraga delova iz na&scaron;eg kataloga moguća je po nazivu delova.&nbsp;</em></p>
                    
                    <p><em>Pored same nabavke delova, mi pružamo i usluge ugradnje delova i redovnog održavanja automobila u na&scaron;im partnerskim servisima &ndash; sve to pod najpovoljnijim cenama za skoro sve modele automobila.&nbsp;</em></p>
                    
                    <p><em>Na&scaron;a kancelarija se nalazi Beogradu, auto delove isporučujemo u celoj Srbiji brzom po&scaron;tom, a servisiranje vr&scaron;imo samo u partnerskim servisima u većim gradovima.</em></p>
                </blockquote>
            
                <div class="row" >
                    <div class="col-md-9">
                        <h2>Po čemu smo jedinstveni ?</h2>
                    
                        <p>Pružamo Vam mogućnosti koje do sada niste imali. Celo trži&scaron;te auto delova u Srbiji sada je na jednom, Vama dostupnom mestu, gde god da se nalazite. To znači da možete sami da izaberite koliko ćete da platite za delove i uslugu. Mi Vam omogućavamo savete i punu tehničku podr&scaron;ku prilikom izbora, a tu je i na&scaron; servis.</p>
                    
                        <ol>
                            <li><em>Imamo niže cene od prodavnica auto delova jer imamo niže tro&scaron;kove poslovanja.</em></li>
                            <li><em>Imamo veći asortiman od klasičnih prodavnica</em></li>
                            <li><em>Dajemo Vam ponude u tri kategorije &ndash; najjeftinije, najbolji odnos cena kvalitet i premijum brendovi</em></li>
                            <li><em>Na jednom mestu dobijete i auto servis i auto delove. Mi garantujemo za kvalitet delova i servisne usluge.</em></li>
                            <li><em>&Scaron;tedimo Va&scaron;e vreme i novac</em>!</li>
                        </ol>
                    
                        <h2>Na&scaron; tim</h2>
                    
                        <p>Na&scaron;a najveća vrednost su na&scaron;i zaposleni. Svi mi volimo ovaj posao i radimo ga na najbolji mogući način. Od početka 2018. svoje vreme, ljubav i pažnju posvećujemo razvoju brenda Stančić.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endspaceless %} {% endblock %}