{% extends "_global/index.html" %} {% block main %} {% spaceless %}
<div class="container mt-2">
    <h1>Kontakt</h1>
    <div class="col-sm">
        <h2>Kontakt podaci</h2>
        Auto delovi Stančić<br />
        Maloprodaja: Obrenovacki put 22 lok 12,13,14<br />
        11260 Umka, Srbija
        <h2>Radno vreme</h2>
        Pon. &ndash; Pet. 9:00 &ndash; 17:00<br />
        Subotom. 9:00 &ndash; 13:00<br />
        Kontakt telefon: +381-63-11-22-33<br />
        E-mail: info@stancic.rs
    </div>
    <div class="col-sm mt-3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2837.0909315229287!2d20.30062831576463!3d44.67692179364756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDTCsDQwJzM2LjkiTiAyMMKwMTgnMTAuMSJF!5e0!3m2!1ssr!2srs!4v1529435435885" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

{% endspaceless %} {% endblock %}