{% extends "_global/index.html" %} {% block main %}
<div class="row">
    <form action="{{ BASE }}user/login" method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3" onsubmit="return validateLoginForm();">
        <div class="card" id="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="input_username" class="cols-sm-2 control-label">Korisnicko ime</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="login_username" id="input_username"  required placeholder="Unesite korisnicko ime">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_password" class="cols-sm-2 control-label">Lozinka</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="login_password" id="input_password"  required placeholder="Unesite lozinku">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-block" type="submit">Login</button>
            </div>
        </div>
        <div class="alert alert-warning d-none" id="error-message"></div>
    </form>
</div>
{% endblock %}