{% extends "_global/index.html" %} {% block main %}
<div class="row">
    <form action="{{ BASE }}user/register" method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3" onsubmit="return validateRegisterForm();">
        <div class="card" id="card">
            <div class="card-header">
                Registracija
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="input_forename" class="cols-sm-2 control-label">Ime</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="reg_forename" id="input_forename"  required placeholder="Unesite svoje ime" >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_surename" class="cols-sm-2 control-label">Prezime</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="reg_surename" id="input_surename"  required placeholder="Unesite svoje prezime" >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_email" class="cols-sm-2 control-label">Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="reg_email" id="input_email"  required placeholder="Unesite svoj email" >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_username" class="cols-sm-2 control-label">Korisnicko ime</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="reg_username" id="input_username"  required placeholder="Unesite korisnicko ime" >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_password_1" class="cols-sm-2 control-label">Lozinka</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="reg_password_1" id="input_password_1"  required placeholder="Unesite lozinku" >
                        </div>
                    </div>
                </div>
                <!--pattern="^([A-Z][A-Za-z0-9._-]{6,124})$"-->
                <div class="form-group">
                    <label for="input_password_2" class="cols-sm-2 control-label">Ponovljena lozinka</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="reg_password_2" id="input_password_2"  required placeholder="Unesite ponovljenu lozinku">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-block" type="submit">Registruj se</button>
            </div>
        </div>
        <div class="alert alert-warning d-none" id="error-message"></div>
    </form>
</div>
 {% endblock %}