{% extends "_global/index.html" %} {% block main %} {% spaceless %}
<p>{{ podatak }}</p>
<div class="categories ">
        {% for category in categories %}
        <a href="{{ BASE }}category/{{ category.category_id }}" class="category col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center">
            {{ category.name|escape }}
        </a> {% endfor %}
    </div>

{% endspaceless %} {% endblock %}