{% extends "_global/index.html" %} {% block main %} 
<div class="alert alert-danger mt-3" role="alert">
    <div class="p-3">
        <p>{{ message|escape }}</p>
        <p>Klikni <a href="{{ BASE }}user/register">ovde</a> da se vratis nazad.</p>
    </div>
</div>
 {% endblock %}