{% extends "_global/index.html" %} {% block main %}
<p>{{ podatak }}</p>
<div class="card" id="card">
    <div class="card-header btn-group">
        <a href="{{ BASE }}user/profile" class="btn btn-outline-secondary"><i class="fa fa-chevron-left" aria-hidden="true"></i> Nazad</a>
    </div>
    <div class="card-body">
            {% for cart in carts %}
        <div class="card" >
            <div class="card-body">
                <div class="row">
                    <p class="col-10 col-sm-10 col-md-10 m-0 p-2 pl-3">
                        <a class="cart-list" href="{{ BASE }}user/cart/{{ cart.cart_id }}" >
                        Ime i prezime: {{ cart.forename|escape }} {{ cart.forename|escape }}
                        <br>
                        Adresa: {{cart.address}}<br>
                        Email: {{cart.email}}</a>
                    </p>
                    <div class="col-2 col-sm-2 col-md-2 p-2 mt-3">
                        <a class="delete1 pull-right" href="{{ BASE }}user/cart/delete/{{ cart.cart_id }}" onclick='if(!confirm("Da li ste sigurni?"))return false;'><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}