{% extends "_global/index.html" %} {% block main %}
<div class="card" id="card">
    <div class="card-header btn-group">
        <a href="{{ BASE }}user/profile" class="btn btn-outline-secondary"><i class="fa fa-chevron-left" aria-hidden="true"></i> Nazad</a>
        <a href="{{ BASE }}user/categories/add" class="btn btn-outline-secondary">Dodaj <i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
    <div class="card-body">
        {% for category in categories %}
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <p class="col-8 col-sm-9 col-md-10 col-lg-10 col-xl-10 m-0 p-2 pl-1">{{ category.name|escape }}</p>
                    <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                        <a class="delete pull-right" href="{{ BASE }}user/categories/delete/{{ category.category_id }}" onclick='if(!confirm("Da li ste sigurni?"))return false;'><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        <a class="edit pull-right" href="{{ BASE }}user/categories/edit/{{ category.category_id }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}