{% extends "_global/index.html" %} {% block main %}
<div class="row">
    <form method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3" id="card" onsubmit="return validateCategoryForm();">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <p class="mb-0 ml-3 pt-2">Dodavanje kategorije</p>
                </div>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <a class="btn btn-outline-primary" href="{{ BASE }}user/categories"><i class="fa fa-list" aria-hidden="true"></i> Lista</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name">Ime</label>
                            <input type="text" id="name" class="form-control" name="name" placeholder="Unesite ime kategorije" required>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-block" type="submit">Dodaj</button>
                    </div>
                </div>
            </div>
        </div>   
        <div class="alert alert-warning d-none" id="error-message"></div>
    </form>
</div>
{% endblock %}