<!DOCTYPE html>
<html lang="en">

<head>
    <title>Auto delovi - {% block naslov %}Početna{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
</head>

<body>
    <div class="container">
        <header class="site-header">
            <div class="row manu">
                <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6">
                    <img src="{{ BASE }}assets/img/banner.jpg" class="banner" alt="Baner 1">
                </div>
                <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6">
                    <div class="social-icons text-right">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook-official"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                    <div class="search-box col">
                        <form method="POST" action="{{ BASE }}search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="q" class="form-control noFocus" placeholder="Kljucne reci pretrage..." required pattern="[^\s]{2,}">
                                    <button class="btn btn-primary input-group-append" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        {% include '_global/menu.html' %}
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {% if role != 'user' %}
            <div class="row main">
                <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                    {% endif %}
                    {% block main %}{% endblock %}
                    {% if role != 'user' %}
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                    <div class="card">
                        <div class="card-header">
                            Korpa
                        </div>
                        <div class="card-body">
                            <div class="cart">Učitavanje korpe...</div>
                        </div>
                        <div class="card-footer" id="cart-btn">
                            <a href="{{ BASE }}cart" class="btn btn-success btn-block" id="checkout">Zavrsi kupovinu</a>
                            <button type="button" onclick="clearCart();" class="btn btn-warning btn-block" id="clear">Isprazni korpu</button>
                        </div>
                    </div>
                        <form method="POST" action="{{BASE}}filter">
                            <div class="card" id="card">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="categoryId">Kategorija: </label>
                                        <select name="category_id" id="categoryId" class="form-control" required>
                                            <option value="" disabled selected>Izaberite kategoriju</option>
                                            {% for category in categories %}
                                                <option value="{{ category.category_id }}">{{category.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                   <div class="form-group">
                                        <label for="manufacturerId">Marka: </label>
                                        <select name="manufacturer_id" id="manufacturerId" class="form-control" required>
                                            <option value="" disabled selected>Izaberite marku automobila:</option>
                                            {% for manufacturer in manufacturers %}
                                                <option value="{{ manufacturer.manufacturer_id }}">{{manufacturer.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="carId">Model: </label>
                                        <select name="car_id" id="carId" class="form-control" required>
                                            <option value="" disabled selected>Izaberite model automobila</option>
                                            {% for car in cars %}
                                                <option value="{{ car.car_id }}">{{car.model}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="price">Cena od: </label>
                                        <input type="number" id="price" name="price" class="form-control" placeholder="Od" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="price_to">Cena do: </label>
                                        <input type="number" id="price_to" name="price_to" class="form-control" placeholder="Do" required>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-primary btn-block" type="submit">Pretrazi</button>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
            {% endif %}
        </main>
        <footer>
            <nav class="navbar fixed-bottom navbar-light footer">
                <p class="col-md-6 offset-md-3 footer-title">
                    &copy; 2018 Marko Stancic
                </p>
            </nav>
        </footer>
    </div>
    <script> const BASE = '{{BASE}}'</script>
    <script src="{{BASE}}assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="{{BASE}}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ BASE }}assets/js/validators.js"></script>
    <script src="{{ BASE }}assets/js/check.js"></script>
    <script src="{{ BASE }}assets/js/cart.js"></script>
    
</body>

</html>